body {
    font-family: sans-serif;
}


img{
    height: 90px;
}
 



   body {
            text-align: center;
    background-color: #0015d6;
    color: rgb(0, 0, 0);

        }



   header {
            display: block;
            margin: 20px auto;
            font-size: 24px; /* Визначаємо розмір шрифту */
            font-weight: bold; /* Додаємо жирний шрифт */
        }




    main {
            display: block;
            margin: 20px auto;
            width: 80%;
        }


               img {
            display: block;
            margin: 20px auto;
            max-width: 100%;
            height: auto;
        }        




h1 {
  text-align: center;
    background-color: #f8e90e;
    color: rgb(0, 0, 0);
}


p {
  background-color: rgb(251, 255, 6);
  color: rgb(0, 0, 0);
}


img {
    border: 3px solid rgb(238, 255, 0);
}
a{
    border:1px solid black;
    color:black;
    border-radius: 30px;
    padding: 5px;
    text-decoration: none;
}
